## <center>Hypothesis Testing4</center>

#### Problem Statement:
<code style="background:lightblue;color:black">TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.</code>

In [1]:
#Importing the necessary libraries for the model
import pandas as pd
from scipy import stats
from sklearn.preprocessing import LabelEncoder

In [2]:
#Importing the csv file and having a glance at the data
Customer_order=pd.read_csv("Costomer+OrderForm.csv")
Customer_order.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
#Label Encoding the data for further execution
Customer_order=Customer_order.apply(LabelEncoder().fit_transform)
Customer_order.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [4]:
#Finding the pvalue 
pvalue=stats.f_oneway(Customer_order["Phillippines"],Customer_order["Indonesia"],Customer_order["Malta"],Customer_order["India"])[1]
pvalue

0.2776780955705948

In [5]:
#Printing the output to know wether to accept the null hypothesis or not
if pvalue < 0.05:
    print('we reject the null hypotheis')
else:
    print('we accept the null hypothesis')

we accept the null hypothesis

#### Insights Drawn:
> Here H0: Defective % does not varies by centre<br>  H1:Defective % varies by centre.<br> Hence From the pvalue above it is evident that we are accepting the null hypothesis since Pvalue=0.277>0.05,so the defective % does not vary by the centre.