## <center>Hypothesis Testing2</center>

#### Problem Statement:
<code style="background:lightblue;color:black">A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.</code>

In [1]:
#Importing the necessary libraries for the model
import pandas as pd
from scipy import stats

In [2]:
#Importing the csv file and having a glance at the data
lab_data=pd.read_csv('LabTAT.csv')
lab_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
#Finding the pvalue
stats.f_oneway(lab_data["Laboratory 1"],lab_data["Laboratory 2"],lab_data["Laboratory 3"],lab_data["Laboratory 4"])[1]

2.1156708949992414e-57

#### Insights Drawn:
> Here H0: There is no difference in average of TAT value among the different laboratories<br>  H1:There is a difference in average of TAT value among the different laboratories.<br> Hence From the pvalue above it is evident that we are not accepting the null hypothesis since Pvalue=2.1156708949992414e-57<0.05,so all there is difference in the average TAT values from different laboratories.